@mixin scrollAnimate {
  transition: transform .25s, opacity .25s;
  transition-timing-function: ease-out;
}

@mixin scrollAnimate2 {
  transition: transform .25s, opacity .75s;
  transition-timing-function: ease-out;
}

* {
  margin: 0 0;
  padding: 0 0;
}

#parent-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 17px;
  box-sizing: content-box;
  z-index: 1;
}

h1 {
  position: absolute;
  width: 100%;
  top: 45%;
  margin: 0 auto;
  font-weight: 70px;
  color: white;
  text-align: center;

}
.child-container {
  height: 5000px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.sub-child-container {
  // img {
  //   opacity: .1;
  // }
  img {
    opacity: .1;
  }
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border: blue;
  pointer-events:none
}

#background {
  position: fixed;
  width: 300vw;
  z-index: 3;
  @include scrollAnimate2;
}

#mountain {
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: 0;
  max-width: 80%;
  @include scrollAnimate;
}

#steps {
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 0;
  max-width: 55%;
  @include scrollAnimate;
}

#dummy-parent{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  background-image: url(../assets/images/rainbow.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
