@mixin scrollAnimate {
  transition: transform .25s, opacity .25s;
  transition-timing-function: ease-out;
}



* {
  margin: 0 0;
  padding: 0 0;
  // overflow: hidden;
}

// body {
//   height: 4000px;
// }
//
// body {
//   // height: 100%;
// }

.test {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#background {
  position: absolute;
  width: calc(300vw + 20vw);
  @include scrollAnimate;
}

#mountain {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  max-width: 80%;
  @include scrollAnimate;
}

#steps {
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 0;
  max-width: 55%;
  @include scrollAnimate;
}

.content {
  display: none;
}
