$off-white: #fbf7f5;

@mixin scrollAnimate {
  transition: transform .25s, opacity .25s;
  transition-timing-function: ease-out;
}

@mixin scrollAnimate2 {
  transition: transform .25s, opacity .75s;
  transition-timing-function: ease-out;
}

* {
  margin: 0 0;
  padding: 0 0;
}

#parent-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 17px;
  box-sizing: content-box;
  z-index: 1;
}

.child-container {
  height: 5000px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.sub-child-container {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border: blue;
  pointer-events:none
}

#background {
  position: fixed;
  width: 300vw;
  z-index: 3;
  @include scrollAnimate2;
}

#mountain {
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: 0;
  max-width: 80%;
  @include scrollAnimate;
}

#steps {
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 0;
  max-width: 55%;
  @include scrollAnimate;
}

#dummy-parent{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  background-image: url(../assets/images/rainbow.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  h1 {
    position: absolute;
    width: 100%;
    top: 45%;
    margin: 0 auto;
    font-size: 5rem;
    color: $off-white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 0 5px black;
  }
}

.travel-packages-container {
  width: 100%;
  height: 65vh;
  margin: 15vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  h1 {
    font-size: 3rem;
  }
  .sub-package-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .package {
      width: 300px;
      height: 450px;
      background: #d4822e;
      color: #FFF;
      h4{
        font-size: 30px;
        font-weight: bold;
        margin-top: 10px;
      }
       p {
         margin: 0 30px;
       }
      font-weight: 200;
      font-size: 14px;
      .package-img-container {
        width: 100%;
        height: 50%;
        overflow: hidden;
        img {
          height: 100%;
        }
      }
      // border: solid grey 1px;
      &:nth-child(2) {
        margin: 0 20px;
      }
    }
  }
}

.pic-content {
  height: calc(150vh + 30px);
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  .photo-holder {
    position: relative;
    height: 50vh;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
    .img-content {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: $off-white;
      .content {
        margin: 0 50px;
        width: 200px;
        font-style: italic;
        line-height: 1.3;
        font-size: 19px;
        h3 {
          font-style: normal;
          font-size: 40px;
        }
      }
    }
    &:nth-child(1), &:nth-child(3) {
      .img-content {
        align-items: flex-end;
        color: white;
        text-shadow: 0 0 1px black;
      }
    }
  }
}

#salt-mine {
  align-self: flex-start;
  transform:rotateY(180deg);
}

#beach {
  transform:rotateY(180deg);
}
